<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
</head>
<body>
    <div id="header">
            <div id="title">
                <h1>MINDSCAPE</h1>
                <img src="{{ url_for('static', filename='mindscapelogo.png') }}" alt="Tree Icon">
            </div>
    </div>
    <form method="POST" action="/createNewAccount">
        <h1>Register</h1>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required><br><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br><br>
        <input type="submit" value="Register">
    </form>
    <p>Already have an account? <a href="/">Login</a></p>
</body>
</html>