<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MINDSCAPE</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">

</head>
<body>
    <div class="navbar-wrapper">
        <aside class="side-navbar">
            <ul class="nav-links">
                <li class="nav-item"><a href="/home/{{current_user}}"><img src="{{ url_for('static', filename='home_icon.png') }}" alt="Home" /></a></li>
                <li class="nav-item"><a href="/entries/{{current_user}}"><img src="{{ url_for('static', filename='journal_icon.png') }}" alt="Journal" /></a></li>
                <li class="nav-item"><a href="/calendar/{{current_user}}"><img src="{{ url_for('static', filename='calendar_icon.png') }}" alt="Calendar" /></a></li>
                <li class="nav-item"><a href="/logout">Logout</a></li>
            </ul>
        </aside>
    </div>
    <div id="content" style="margin-left: 100px;">
        <div id="header">
            <div id="title">
                <h1>MINDSCAPE</h1>
                <img src="{{ url_for('static', filename='mindscapelogo.png') }}" alt="Tree Icon">
            </div>
            <p id="welcome-message">Welcome, {{current_user}}!</p>
        </div>
        <a href="/account/{{current_user}}" id="account-button">
            <img src="{{ url_for('static', filename='account_icon.png') }}" alt="Account">
        </a>
    
        <h2>Daily Affirmation</h2>
        <div class="affirmation-box">{{daily_affirmation}}</div>
        <h2>Daily Challenges</h2>
        {% for challenge in daily_challenges %}
            <div class="challenge-box">{{challenge}}</div>
        {% endfor %}
    </div>
</body>
</html>
