<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="journal_styles.css">
    <title>Create New Entry - MindScape</title>
</head>

<body>
    <div class="container">
        <h1>Create New Entry</h1>
        
        <div class="journal-form">
            <textarea placeholder="Write your thoughts..."></textarea>

            <div class="action-btns">
                <button class="cancel">Cancel</button>
                <button class="submit">Submit Entry</button>
            </div>
        </div>
    </div>
</body>

</html>
