.navbar-wrapper {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 50px;
  overflow: hidden;
  transition: width 0.3s ease, opacity 0.3s ease;
  opacity: 0.5; 
}

.navbar-wrapper:hover {
  width: 100px;
  opacity: 1; 
}

.navbar-wrapper:hover .side-navbar {
  width: 100px; 
}

.side-navbar {
  width: 50px; 
  height: 100%;
  background-color: #37a989;
  padding: 1rem;
  transition: width 0.3s ease;
}


.navbar-wrapper h1, .navbar-wrapper .nav-links {
  opacity: 0; 
  transition: opacity 0.3s ease;
}

.navbar-wrapper:hover h1, 
.navbar-wrapper:hover .nav-links {
  opacity: 1;  
}

.nav-links {
  list-style-type: none;
  padding: 0;
}

.nav-item {
  margin-bottom: 10px !important;
  padding: 0.5rem 0;
}

.nav-item a {
  color: white;
  text-decoration: none;
}

.nav-item a:hover {
  text-decoration: underline;
}

.nav-item img {
  width: 50px; 
  height: 45; 
  display: block;
  margin: 10px auto; 
  margin-bottom: 30px;
  cursor: pointer;
}

.nav-item img:hover {
  opacity: 0.7;
}
